/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Variables */
:root {
  /* Fonts */
  --sans-serif: "Poppins", sans-serif;

  /* Colors */
  --primary: #e8430a;
  --secondary: #0885c9;
  --dark: #08000b;
  --dark-alt: #000000;
  --light: #ffffff;
  --light-alt: #f5f8fc;

  /* Shadow */
  --shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Default */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
*::selection {
  background: var(--dark);
  color: var(--light);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: var(--sans-serif);
  background: var(--dark);
  overflow-x: hidden;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
b,
i,
u,
ul,
ol,
li,
span {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img,
video {
  width: 100%;
}
p {
  font-size: 18px;
  font-weight: 300;
  color: var(--dark-alt);
}

/* Background */
.bg-primary {
  background: var(--primary) !important;
}
.bg-secondary {
  background: var(--secondary) !important;
}
.bg-light {
  background: var(--light) !important;
}
.bg-light-alt {
  background: var(--light-alt) !important;
}
.bg-dark {
  background: var(--dark) !important;
}
.bg-dark-alt {
  background: var(--dark-alt) !important;
}

/* Color */
.text-primary {
  color: var(--primary) !important;
}
.text-secondary {
  color: var(--secondary) !important;
}
.text-light {
  color: var(--light) !important;
}
.text-light-alt {
  color: var(--light-alt) !important;
}
.text-dark {
  color: var(--dark) !important;
}
.text-dark-alt {
  color: var(--dark-alt) !important;
}

/* Container */
.container {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

/* Blink */
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Header */
.header {
  padding: 20px 15px;
  background: var(--light);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 0 0 10px 10px;
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}
.header .logo {
  width: 100px;
  position: absolute;
  top: 0;
  left: 15px;
  overflow: hidden;
  display: inline-block;
}
.header .logo img {
  border-radius: 0 0 10px 10px;
}
.header .social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}
.header .social a {
  width: 40px;
}
.header .social .insta-blink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: auto;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5);
  background-size: 400% 400%;
  animation: gradient 3s ease infinite;
  padding: 10px;
  border-radius: 5px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
    scale: 1;
  }
  50% {
    background-position: 100% 50%;
    scale: 0.95;
  }
  100% {
    background-position: 0% 50%;
    scale: 1;
  }
}
.header .social .insta-blink img {
  width: 40px;
}
.header .social .insta-blink span {
  font-size: 14px;
  font-weight: 600;
  color: var(--light);
}

/* Offers */
.offers {
  padding: 130px 15px 50px 15px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}

/* Text */
.text {
  padding: 0 15px 50px 15px;
}
.text h4 {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 10px;
}
.text p,
.text ul li {
  font-size: 14px;
  color: var(--light);
}
.text ul li {
  margin-bottom: 10px;
}
.text ul li b {
  display: block;
  color: var(--secondary);
}

/* Sticky Whatsapp */
.sticky-btn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  background: #4fcc5d;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 100px;
}
.sticky-btn img {
  width: 40px;
}
.sticky-btn span {
  font-size: 18px;
  font-weight: 500;
  color: var(--light);
}
